PORT=3001
SUPABASE_URL=tu_url_de_supabase
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ubHFibXBieXlic2Z4dGpqYWxiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM2Mjc3MiwiZXhwIjoyMDg4OTM4NzcyfQ.4m_msBZQdpTafVY5yhU2T_daNBKZbefgvDS-fhR_sFI